a{
    text-decoration: none;
}
li{
    list-style: none;
}
input[type="search"]:-ms-clear{
    display: none;
}
.mainContainer > h2,
[class$='listContainer'] > h2,
.loginContainer h2{
    display: none;
}
#searchPopup div span input[type='search'],
.mainContainer ul li div p,
.mainContainer ul.bestPrdSlider li div small, 
.mainContainer ul.newPrdSlider li div small,
.mainContainer > div:nth-of-type(2) .bx-wrapper .bx-pager.bx-default-pager a,
.mainContainer > div:nth-of-type(5) p,
.mainContainer > div:nth-of-type(5) ul li div strong,
.mainContainer > div:nth-of-type(5) ul li span,
.mainContainer > div:nth-of-type(6) h3 small,
.mainContainer > div:nth-of-type(6) p,
.aboutContainer > div p,
.aboutContainer > p:not(b),
.aboutContainer ol li p,
[class$='listContainer'] nav ul li a,
[class$='listContainer'] > ul li span,
[class$='listContainer'] > ul+div > a,
[class$='listContainer'] > ul li div strong,
.detailContainer > div:first-of-type aside p,
.detailContainer > div:first-of-type aside ul li span,
.detailContainer > div:first-of-type aside b,
.detailContainer > div:first-of-type aside > div:first-of-type input,
.detailContainer > div:first-of-type aside [id$='Popup'],
.detailContainer > div:last-of-type ul li div strong,
.detailContainer > div:last-of-type ul li span,
.userInfoContainer > div *:not(input[type='submit']),
.userInfoContainer aside > a,
.orderListContainer > div > *,
.wishContainer > div ul li > span,
.wishContainer > div ul li div strong,
.mypageCartContainer > div ul li:not(.mypageCartContainer > div ul li > div b),
.cartContainer > ul li > *:not(.cartContainer > ul li > div b),
.cartContainer aside ul li span,
.cartContainer aside p,
.orderContainer > div > div:first-of-type > div:first-of-type span,
.orderContainer > div > div:first-of-type > span,
.orderContainer > div > div:nth-of-type(2) label,
.orderContainer > div > div:last-of-type label,
.orderContainer > div > ul li label,
.orderContainer > div > ul li input,
.orderContainer aside div:first-of-type *:not(h3),
.orderContainer aside div:last-of-type *:not(a),
.loginContainer:not(.tabPage form input[type='submit']),
.loginContainer #tab1 form div input,
.loginContainer #tab1 input[type='button'],
#pwFindPopup label,
#pwFindPopup p,
.joinResultContainer p,
.joinResultContainer a,
.informationContainer,
.tosContainer,
.privacyPolicyContainer,
.orderResultContainer p,
.orderResultContainer > div > *,
.orderResultContainer > div mark,
.orderResultContainer aside ul li span,
.inspContainer p,
.inspContainer ul li time,
footer > div h2, 
footer > div > div > *{
    font-family: 'Roboto';
}
header nav,
.mainContainer ul li div h3,
.mainContainer ul.bestPrdSlider li div a, 
.mainContainer ul.newPrdSlider li div a,
.mainContainer .bx-wrapper .bx-controls-direction a,
.mainContainer > div:nth-of-type(5) h3,
.mainContainer > div:nth-of-type(5) ul li div a,
.mainContainer > div:nth-of-type(5) ul li b,
.mainContainer > div:nth-of-type(6) h3,
.mainContainer > div:nth-of-type(6) a,
.mainContainer > div:last-child h2,
.aboutContainer div h2,
.aboutContainer > p b,
.aboutContainer ol li h3,
[class$='listContainer'] > ul li b,
[class$='listContainer'] > ul li div > a,
.detailContainer > div:first-of-type aside h2,
.detailContainer > div:first-of-type aside a,
.detailContainer > div:last-of-type h3,
.detailContainer > div:last-of-type ul li div > a,
.detailContainer > div:last-of-type ul li b,
.userInfoContainer h2,
.commonMenu ul li a,
.userInfoContainer > div input[type='submit'],
.orderListContainer h2,
.wishContainer h2,
.wishContainer > div ul li b,
.wishContainer > div ul li div > a,
.mypageCartContainer h2,
.mypageCartContainer > div ul li > div b,
.mypageCartContainer > div > a,
.cartContainer h2,
.cartContainer > ul li > div b,
.cartContainer aside h3,
.cartContainer aside > a,
.orderContainer h2,
.orderContainer > div h3,
.orderContainer > div > ul li:nth-of-type(3) input[type='button'],
.orderContainer > div > div:first-of-type > div:first-of-type b,
.orderContainer > div h4,
.orderContainer aside div:first-of-type h3,
.orderContainer aside div:last-of-type a,
.loginContainer form input[type='submit'],
#pwFindPopup form input[type='submit'],
#pwFindPopup h3,
.joinResultContainer h2,
.orderResultContainer h2,
.orderResultContainer > div h3,
.orderResultContainer > div > div b,
.orderResultContainer aside h3,
.orderResultContainer > b,
.inspContainer h2,
.inspContainer ul li b{
    font-family: 'Crimson Text';
}
header div ul:after,
.mainContainer > div:last-child ul:after,
.mainContainer ul.bestPrdSlider li:after,
.mainContainer ul.newPrdSlider li:after,
.aboutContainer ul:after,
.aboutContainer ol:after,
[class$='listContainer'] nav ul:after,
.detailContainer > div:first-of-type aside ul li:after,
.userInfoContainer:after,
.orderListContainer:after,
.wishContainer:after,
.mypageCartContainer:after,
.cartContainer:after,
.cartContainer > ul li:after,
.orderContainer:after,
.loginContainer ul:after,
.loginContainer #tab1 form:after,
.loginContainer > div:last-of-type form:after,
.inspContainer ul:after,
#pwFindPopup div:after,
.orderResultContainer:after,
footer > div:after{
    content: '';
    display: block;
    clear: both;
} 
[id$='Popup']{
    display: none;
}
[id$='Popup'].active{
    display: block;
}
/* ? All Using */

@media screen and (max-width: 767px) and (orientation: landscape){  
    header div, 
    header nav ul,
    .mainContainer > div:nth-of-type(5),
    .mainContainer > div:last-child,
    [class$='listContainer'],
    .detailContainer,
    .userInfoContainer,
    .orderListContainer,
    .wishContainer,
    .mypageCartContainer,
    .cartContainer,
    .orderContainer,
    .joinResultContainer,
    .informationContainer,
    .tosContainer,
    .privacyPolicyContainer,
    .orderResultContainer,
    .inspContainer,
    footer > div{
        margin: 0 auto;
    }
    .btn_top{
        position: fixed;
        bottom: 50px;
        right: 5%;
        display: block;
        width: 50px;
        height: 50px;
        background: url('../images/top.png') center / auto no-repeat #666;
        text-indent: -9999px;
        z-index: 10;
    }
    #searchPopup{
        position: fixed; 
        background-color: #fff5f5;
        padding: 100px 0; 
        left: 0; 
        top: 0; 
        width: 100%;
        z-index: 100; 
    }
    #searchPopup div{
        max-width: 520px; 
        margin: 0 auto; 
        position: relative; 
        padding-right: 3.5%;
        box-sizing: border-box;
    }
    #searchPopup div span{
        display: block; 
        position: relative;
    }
    #searchPopup div span input[type='search']{
        background-color: transparent; 
        border-width: 0 0 2px; 
        border-style: solid; 
        border-color: #444;
        width: 100%;
        padding: 20px 6%;
        text-align: center;
        font-size: 16px;
        color: #666;
        font-weight: 300;
    }
    #searchPopup div span input[type='submit']{
        position: absolute; 
        right: 6%;
        bottom: 20px;
        text-indent: -9999px;
        background-color: transparent;
        border-width: 0;
        background: url('../images/ico_search_big.png') center / cover no-repeat;
        width: 21px;
        height: 21px;
    }
    #searchPopup div span input[type='submit']:focus{
        background: none;
    }
    #searchPopup div > input[type='button']{
        position: absolute; 
        right: 0; 
        bottom: 22px;
        text-indent: -9999px;
        border-width: 0;
        background: url('../images/ico_close_big.png') center / cover no-repeat;
        width: 18px;
        height: 18px;
        cursor: pointer;
    }
    header{
        width: 100%;
        padding: 40px 3% 30px;
        transition: all 0.35s ease;
        background-color: rgba(255,255,255,0);
        box-sizing: border-box;
        position: absolute;
        top: 0;
        left: 0;     
        z-index: 10;  
    }  
    header.lock{
        position: fixed; 
        background-color: rgba(255,255,255,1);
        padding: 20px 3%;
    }
    header div{
        display: flex;
        justify-content: space-between;
    } 
    header div h1{
        width: 9.7vw;
        max-width: 186px;
        min-width: 115px;
    }
    header div h1:active{
        z-index: 10;
    }
    header div h1 a{
        display: block;
    }
    header div h1 a img{
        width: 100%;
    }
    header div ul{
        width: 18%;
        padding-left: 186px;
        min-width: 200px;
    }
    header div ul li{
        float: left;
        width: 20%;
    }
    header div ul li a{
        display: block;
    }
    header div ul li input[type='button']{
        cursor: pointer;
        border-width: 0;
        background-color: transparent;
    }
    header div ul li a,
    header div ul li input[type='button']{
        text-indent: -9999px;
        background-position: center;
        background-size: cover;
        background-repeat: no-repeat;
    }
    header.main div ul li:first-child input[type='button']{
        width: 18px;
        height: 18px;
        background-image: url('../images/ico_search.png');
    }
    header.main div ul li:nth-child(2) a{
        width: 18px;
        height: 20px;
        background-image: url('../images/ico_user.png');
    }
    header.main div ul li:nth-child(3) a{
        width: 19px;
        height: 19px;
        background-image: url('../images/ico_cart.png');
    }
    header.main div ul li:nth-child(4) a{
        width: 20px;
        height: 17px;
        background-image: url('../images/ico_wish.png');
    }
    header.main div ul li:last-child input[type='button']{
        width: 25px;
        height: 13px;
        background-image: url('../images/ico_ham.png');
    }   
    header div ul li:first-child input[type='button'],
    header.lock div ul li:first-child input[type='button']{
        width: 18px;
        height: 18px;
        background-image: url('../images/ico_search_b.png');
    }
    header div ul li:nth-child(2) a,
    header.lock div ul li:nth-child(2) a{
        width: 18px;
        height: 20px;
        background-image: url('../images/ico_user_b.png');
    }
    header div ul li:nth-child(3) a,
    header.lock div ul li:nth-child(3) a{
        width: 19px;
        height: 19px;
        background-image: url('../images/ico_cart_b.png');
    }
    header div ul li:nth-child(4) a,
    header.lock div ul li:nth-child(4) a{
        width: 20px;
        height: 17px;
        background-image: url('../images/ico_wish_b.png');
    }
    header div ul li:last-child input[type='button'],
    header.lock div ul li:last-child input[type='button']{
        width: 25px;
        height: 13px;
        background-image: url('../images/ico_ham_b.png');
    }
    header div ul li:last-child input[type='button'].active{
        width: 23px;
        height: 22px;
        background-image: url('../images/ico_close.png');
        position: relative;
        z-index: 10;
    }
    header nav{
        display: none;
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background: url('../images/bg_fnb.png') center / cover no-repeat;
        z-index: 1;
        overflow-y: scroll;
    }
    header nav.active{
        display: block;
    }
    header nav > input[type='button']{
        background: url('../images/ico_close.png') center / cover no-repeat;
        border: none;
        text-indent: -9999px;
        position: absolute;
        top: 10%;
        right: 10%;
        width: 21px;
        height: 20px;
        cursor: pointer;
        z-index: 10;
    }
    header nav ul{
        padding: 50px 3% 0;
        box-sizing: border-box;
        width: 80%;
    }
    header nav ul > li{
        margin-bottom: 50px;
        position: relative;
    }
    header nav ul > li > a, header nav ul li b{
        font-size: 3.15vw;
        font-weight: 400;
        color: #666;
        transition: color 0.3s ease-in;
    } 
    header nav ul > li:hover > a, 
    header nav ul li:hover b, 
    header nav ul > li ol > li:hover a{
        color: #fff;
    } 
    header nav ul li b{
        cursor: default;
    }
    header nav ul > li ol{
        display: none;
        height: 0;
        overflow: hidden;
        transition: all 0.3s ease-in;
        position: absolute;
        left: 35%;
        top: 0;
    }
    header nav ul > li ol.active{
        display: block;
        height: 100%;
        overflow: initial;
    }
    header nav ul > li ol > li:not(:last-child){
        margin-bottom: 30px;
    }
    header nav ul > li ol > li a{
        font-size: 16px;
        font-weight: 400;
        color: #666;
        transition: all 0.3s ease-in;
    }
    /* header */

    footer{
        background-color: #111;
        padding: 55px 3% 60px;
        box-sizing: border-box;
    }
    footer > div > *{
        float: left;
    }
    footer > div h2{
        width: 14%;
        font-size: 11px;
        font-weight: 300;
        line-height: 18px;
        color: #fff;
    }
    footer > div h2 span{
        display: block;
        text-indent: -9999px;
        background: url('../images/logo_footer.png') left top / contain no-repeat;
        margin-bottom: 20px;
    }
    footer > div > div{
        width: 65%;
        margin-left: 5%;
    }
    footer > div > div > a{
        color: #666;
        transition: all 0.3s ease-in;
        font-size: 12px;
        font-weight: 400;
        display: block;
        float: left;
    }
    footer > div > div a:hover{
        color: #fff;
    }
    footer > div > div a:not(:first-child){
        margin-left: 3.92%;
    }
    footer > div > div span{
        display: block;
        margin-top: 40px;
        color: #fff;
        font-size: 12px;
        font-weight: 300;
        line-height: 17px;
    }
    footer > div > div span > a{
        color: #fff
    }
    footer > div > span{
        width: 16%;
        text-align: right;
    }
    footer > div > span > a{
        display: inline-block;
        text-indent: -9999px;
        text-align: left;
    }
    footer > div > span a:first-of-type{
        width: 23px;
        height: 23px;
        background: url('../images/ico_insta.png') center / cover no-repeat;
    }
    footer > div > span a:last-of-type{
        margin-left: 8%;
        width: 28px;
        height: 23px;
        background: url('../images/ico_youtube.png') center 1px / contain no-repeat;
    }
    /* footer */
}
/* ? mobile 가로 */

@media screen and (max-width: 767px) and (orientation: portrait){  
    header div, 
    header nav ul,
    .mainContainer > div:nth-of-type(5),
    .mainContainer > div:last-child,
    [class$='listContainer'],
    .detailContainer,
    .userInfoContainer,
    .orderListContainer,
    .wishContainer,
    .mypageCartContainer,
    .cartContainer,
    .orderContainer,
    .joinResultContainer,
    .informationContainer,
    .tosContainer,
    .privacyPolicyContainer,
    .orderResultContainer,
    .inspContainer,
    footer > div{
        margin: 0 auto;
    }
    .btn_top{
        position: fixed;
        bottom: 30px;
        right: 5%;
        display: block;
        width: 40px;
        height: 40px;
        background: url('../images/top.png') center / 50% no-repeat #666;
        text-indent: -9999px;
        z-index: 10;
    }
    #searchPopup{
        position: fixed; 
        background-color: #fff5f5;
        padding: 60px 0; 
        left: 0; 
        top: 0; 
        width: 100%;
        z-index: 100; 
    }
    #searchPopup div{
        max-width: 250px; 
        margin: 0 auto; 
        position: relative; 
        padding-right: 8%;
        box-sizing: border-box;
    }
    #searchPopup div span{
        display: block; 
        position: relative;
    }
    #searchPopup div span input[type='search']{
        background-color: transparent; 
        border-width: 0 0 2px; 
        border-style: solid; 
        border-color: #444;
        width: 100%;
        padding: 10px 6%;
        text-align: center;
        font-size: 14px;
        color: #666;
        font-weight: 300;
    }
    #searchPopup div span input[type='submit']{
        position: absolute; 
        right: 6%;
        bottom: 10px;
        text-indent: -9999px;
        background-color: transparent;
        border-width: 0;
        background: url('../images/ico_search_big.png') center / cover no-repeat;
        width: 18px;
        height: 18px;
    }
    #searchPopup div span input[type='submit']:focus{
        background: none;
    }
    #searchPopup div > input[type='button']{
        position: absolute; 
        right: 0; 
        bottom: 12px;
        text-indent: -9999px;
        border-width: 0;
        background: url('../images/ico_close_big.png') center / cover no-repeat;
        width: 15px;
        height: 15px;
        cursor: pointer;
    }
    header{
        width: 100%;
        padding: 20px 3% 15px;
        transition: all 0.35s ease;
        background-color: rgba(255,255,255,0);
        box-sizing: border-box;
        position: absolute;
        top: 0;
        left: 0;     
        z-index: 10;  
    }  
    header.lock{
        position: fixed; 
        background-color: rgba(255,255,255,1);
        padding: 20px 3%;
    }
    header div{
        display: flex;
        justify-content: space-between;
    } 
    header div h1{
        width: 9.7vw;
        max-width: 93px;
        min-width: 93px;
    }
    header div h1:active{
        z-index: 10;
    }
    header div h1 a{
        display: block;
    }
    header div h1 a img{
        width: 100%;
    }
    header div ul{
        width: 18%;
        min-width: 150px;
    }
    header div ul li{
        float: left;
        width: 20%;
    }
    header div ul li a{
        display: block;
    }
    header div ul li input[type='button']{
        cursor: pointer;
        border-width: 0;
        background-color: transparent;
    }
    header div ul li a,
    header div ul li input[type='button']{
        text-indent: -9999px;
        background-position: center;
        background-size: cover;
        background-repeat: no-repeat;
    }
    header.main div ul li:first-child input[type='button']{
        width: 17px;
        height: 17px;
        background-image: url('../images/ico_search.png');
    }
    header.main div ul li:nth-child(2) a{
        width: 17px;
        height: 19px;
        background-image: url('../images/ico_user.png');
    }
    header.main div ul li:nth-child(3) a{
        width: 18px;
        height: 18px;
        background-image: url('../images/ico_cart.png');
    }
    header.main div ul li:nth-child(4) a{
        width: 19px;
        height: 16px;
        background-image: url('../images/ico_wish.png');
    }
    header.main div ul li:last-child input[type='button']{
        width: 24px;
        height: 12px;
        background-image: url('../images/ico_ham.png');
    }   
    header div ul li:first-child input[type='button'],
    header.lock div ul li:first-child input[type='button']{
        width: 17px;
        height: 17px;
        background-image: url('../images/ico_search_b.png');
    }
    header div ul li:nth-child(2) a,
    header.lock div ul li:nth-child(2) a{
        width: 17px;
        height: 19px;
        background-image: url('../images/ico_user_b.png');
    }
    header div ul li:nth-child(3) a,
    header.lock div ul li:nth-child(3) a{
        width: 18px;
        height: 18px;
        background-image: url('../images/ico_cart_b.png');
    }
    header div ul li:nth-child(4) a,
    header.lock div ul li:nth-child(4) a{
        width: 19px;
        height: 16px;
        background-image: url('../images/ico_wish_b.png');
    }
    header div ul li:last-child input[type='button'],
    header.lock div ul li:last-child input[type='button']{
        width: 24px;
        height: 12px;
        background-image: url('../images/ico_ham_b.png');
    }
    header div ul li:last-child input[type='button'].active{
        width: 22px;
        height: 21px;
        background-image: url('../images/ico_close.png');
        position: relative;
        z-index: 10;
    }
    header nav{
        display: none;
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background: url('../images/bg_fnb.png') center / cover no-repeat;
        z-index: 1;
        overflow-y: scroll;
    }
    header nav.active{
        display: block;
    }
    header nav > input[type='button']{
        background: url('../images/ico_close.png') center / cover no-repeat;
        border: none;
        text-indent: -9999px;
        position: absolute;
        top: 20px;
        right: 6%;
        width: 19px;
        height: 18px;
        cursor: pointer;
        z-index: 10;
    }
    header nav ul{
        padding: 70px 3% 0;
        box-sizing: border-box;
        width: 80%;
    }
    header nav ul > li{
        margin-bottom: 50px;
        position: relative;
    }
    header nav ul > li > a, header nav ul li b{
        font-size: 20px;
        font-weight: 400;
        color: #666;
        transition: color 0.3s ease-in;
    } 
    header nav ul > li:hover > a, 
    header nav ul li:hover b, 
    header nav ul > li ol > li:hover a{
        color: #fff;
    } 
    header nav ul li b{
        cursor: default;
    }
    header nav ul > li ol{
        display: none;
        height: 0;
        overflow: hidden;
        transition: all 0.3s ease-in;
        position: absolute;
        left: 55%;
        top: 0;
    }
    header nav ul > li ol.active{
        display: block;
        height: 100%;
        overflow: initial;
    }
    header nav ul > li ol > li:not(:last-child){
        margin-bottom: 25px;
    }
    header nav ul > li ol > li a{
        font-size: 14px;
        font-weight: 400;
        color: #666;
        transition: all 0.3s ease-in;
    }
    /* header */

    footer{
        background-color: #111;
        padding: 55px 3% 60px;
        box-sizing: border-box;
    }
    footer > div h2{
        font-size: 12px;
        font-weight: 300;
        line-height: 18px;
        color: #fff;
        margin-bottom: 20px;
    }
    footer > div h2 span{
        display: block;
        text-indent: -9999px;
        background: url('../images/logo_footer.png') left top / contain no-repeat;
        margin-bottom: 10px;
    }
    footer > div > div > a{
        color: #666;
        transition: all 0.3s ease-in;
        font-size: 12px;
        font-weight: 400;
        display: block;
    }
    footer > div > div a:hover{
        color: #fff;
    }
    footer > div > div a:not(:last-child){
        margin-bottom: 15px;
    }
    footer > div > div span{
        display: block;
        color: #fff;
        font-size: 12px;
        font-weight: 300;
        line-height: 17px;
        margin: 20px 0;
    }
    footer > div > div span > a{
        color: #fff
    }
    footer > div > span{
        width: 16%;
        text-align: right;
    }
    footer > div > span > a{
        display: inline-block;
        text-indent: -9999px;
        text-align: left;
    }
    footer > div > span a:first-of-type{
        width: 23px;
        height: 23px;
        background: url('../images/ico_insta.png') center / cover no-repeat;
    }
    footer > div > span a:last-of-type{
        margin-left: 6%;
        width: 28px;
        height: 23px;
        background: url('../images/ico_youtube.png') center 1px / contain no-repeat;
    }
    /* footer */
}
/* ? mobile 세로 */

@media screen and (min-width: 768px) and (max-width: 1279px) and (orientation: landscape){  
    header div, 
    header nav ul,
    .mainContainer > div:nth-of-type(5),
    .mainContainer > div:last-child,
    [class$='listContainer'],
    .detailContainer,
    .userInfoContainer,
    .orderListContainer,
    .wishContainer,
    .mypageCartContainer,
    .cartContainer,
    .orderContainer,
    .joinResultContainer,
    .informationContainer,
    .tosContainer,
    .privacyPolicyContainer,
    .orderResultContainer,
    .inspContainer,
    footer > div{
        margin: 0 auto;
    }
    .btn_top{
        position: fixed;
        bottom: 50px;
        right: 5%;
        display: block;
        width: 50px;
        height: 50px;
        background: url('../images/top.png') center / auto no-repeat #666;
        text-indent: -9999px;
        z-index: 10;
    }
    #searchPopup{
        position: fixed; 
        background-color: #fff5f5;
        padding: 100px 0; 
        left: 0; 
        top: 0; 
        width: 100%;
        z-index: 100; 
    }
    #searchPopup div{
        max-width: 520px; 
        margin: 0 auto; 
        position: relative; 
        padding-right: 3.5%;
        box-sizing: border-box;
    }
    #searchPopup div span{
        display: block; 
        position: relative;
    }
    #searchPopup div span input[type='search']{
        background-color: transparent; 
        border-width: 0 0 2px; 
        border-style: solid; 
        border-color: #444;
        width: 100%;
        padding: 20px 6%;
        text-align: center;
        font-size: 16px;
        color: #666;
        font-weight: 300;
    }
    #searchPopup div span input[type='submit']{
        position: absolute; 
        right: 6%;
        bottom: 20px;
        text-indent: -9999px;
        background-color: transparent;
        border-width: 0;
        background: url('../images/ico_search_big.png') center / cover no-repeat;
        width: 21px;
        height: 21px;
    }
    #searchPopup div span input[type='submit']:focus{
        background: none;
    }
    #searchPopup div > input[type='button']{
        position: absolute; 
        right: 0; 
        bottom: 22px;
        text-indent: -9999px;
        border-width: 0;
        background: url('../images/ico_close_big.png') center / cover no-repeat;
        width: 18px;
        height: 18px;
        cursor: pointer;
    }
    header{
        width: 100%;
        padding: 40px 3% 30px;
        transition: all 0.35s ease;
        background-color: rgba(255,255,255,0);
        box-sizing: border-box;
        position: absolute;
        top: 0;
        left: 0;     
        z-index: 10;  
    }  
    header.lock{
        position: fixed; 
        background-color: rgba(255,255,255,1);
        padding: 20px 3%;
    }
    header div{
        display: flex;
        justify-content: space-between;
    } 
    header div h1{
        width: 9.7vw;
        max-width: 186px;
        min-width: 115px;
    }
    header div h1:active{
        z-index: 10;
    }
    header div h1 a{
        display: block;
    }
    header div h1 a img{
        width: 100%;
    }
    header div ul{
        width: 18%;
        padding-left: 186px;
        min-width: 200px;
    }
    header div ul li{
        float: left;
        width: 20%;
    }
    header div ul li a{
        display: block;
    }
    header div ul li input[type='button']{
        cursor: pointer;
        border-width: 0;
        background-color: transparent;
    }
    header div ul li a,
    header div ul li input[type='button']{
        text-indent: -9999px;
        background-position: center;
        background-size: cover;
        background-repeat: no-repeat;
    }
    header.main div ul li:first-child input[type='button']{
        width: 18px;
        height: 18px;
        background-image: url('../images/ico_search.png');
    }
    header.main div ul li:nth-child(2) a{
        width: 18px;
        height: 20px;
        background-image: url('../images/ico_user.png');
    }
    header.main div ul li:nth-child(3) a{
        width: 19px;
        height: 19px;
        background-image: url('../images/ico_cart.png');
    }
    header.main div ul li:nth-child(4) a{
        width: 20px;
        height: 17px;
        background-image: url('../images/ico_wish.png');
    }
    header.main div ul li:last-child input[type='button']{
        width: 25px;
        height: 13px;
        background-image: url('../images/ico_ham.png');
    }   
    header div ul li:first-child input[type='button'],
    header.lock div ul li:first-child input[type='button']{
        width: 18px;
        height: 18px;
        background-image: url('../images/ico_search_b.png');
    }
    header div ul li:nth-child(2) a,
    header.lock div ul li:nth-child(2) a{
        width: 18px;
        height: 20px;
        background-image: url('../images/ico_user_b.png');
    }
    header div ul li:nth-child(3) a,
    header.lock div ul li:nth-child(3) a{
        width: 19px;
        height: 19px;
        background-image: url('../images/ico_cart_b.png');
    }
    header div ul li:nth-child(4) a,
    header.lock div ul li:nth-child(4) a{
        width: 20px;
        height: 17px;
        background-image: url('../images/ico_wish_b.png');
    }
    header div ul li:last-child input[type='button'],
    header.lock div ul li:last-child input[type='button']{
        width: 25px;
        height: 13px;
        background-image: url('../images/ico_ham_b.png');
    }
    header div ul li:last-child input[type='button'].active{
        width: 23px;
        height: 22px;
        background-image: url('../images/ico_close.png');
        position: relative;
        z-index: 10;
    }
    header nav{
        display: none;
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background: url('../images/bg_fnb.png') center / cover no-repeat;
        z-index: 1;
        overflow-y: scroll;
    }
    header nav.active{
        display: block;
    }
    header nav > input[type='button']{
        background: url('../images/ico_close.png') center / cover no-repeat;
        border: none;
        text-indent: -9999px;
        position: absolute;
        top: 10%;
        right: 10%;
        width: 21px;
        height: 20px;
        cursor: pointer;
        z-index: 10;
    }
    header nav ul{
        padding: 110px 3%;
        box-sizing: border-box;
        width: 80%;
    }
    header nav ul > li{
        margin-bottom: 70px;
        position: relative;
    }
    header nav ul > li > a, header nav ul li b{
        font-size: 3.15vw;
        font-weight: 400;
        color: #666;
        transition: color 0.3s ease-in;
    } 
    header nav ul > li:hover > a, 
    header nav ul li:hover b, 
    header nav ul > li ol > li:hover a{
        color: #fff;
    } 
    header nav ul li b{
        cursor: default;
    }
    header nav ul > li ol{
        display: none;
        height: 0;
        overflow: hidden;
        transition: all 0.3s ease-in;
        position: absolute;
        left: 35%;
        top: 0;
    }
    header nav ul > li ol.active{
        display: block;
        height: 100%;
        overflow: initial;
    }
    header nav ul > li ol > li:not(:last-child){
        margin-bottom: 40px;
    }
    header nav ul > li ol > li a{
        font-size: 20px;
        font-weight: 400;
        color: #666;
        transition: all 0.3s ease-in;
    }
    /* header */

    footer{
        background-color: #111;
        padding: 55px 3% 60px;
        box-sizing: border-box;
    }
    footer > div > *{
        float: left;
    }
    footer > div h2{
        width: 14%;
        font-size: 12px;
        font-weight: 300;
        line-height: 18px;
        color: #fff;
    }
    footer > div h2 span{
        display: block;
        text-indent: -9999px;
        background: url('../images/logo_footer.png') left top / contain no-repeat;
        margin-bottom: 20px;
    }
    footer > div > div{
        width: 65%;
        margin-left: 5%;
    }
    footer > div > div > a{
        color: #666;
        transition: all 0.3s ease-in;
        font-size: 14px;
        font-weight: 400;
        display: block;
        float: left;
    }
    footer > div > div a:hover{
        color: #fff;
    }
    footer > div > div a:not(:first-child){
        margin-left: 3.92%;
    }
    footer > div > div span{
        display: block;
        margin-top: 40px;
        color: #fff;
        font-size: 12px;
        font-weight: 300;
        line-height: 17px;
    }
    footer > div > div span > a{
        color: #fff
    }
    footer > div > span{
        width: 16%;
        text-align: right;
    }
    footer > div > span > a{
        display: inline-block;
        text-indent: -9999px;
        text-align: left;
    }
    footer > div > span a:first-of-type{
        width: 23px;
        height: 23px;
        background: url('../images/ico_insta.png') center / cover no-repeat;
    }
    footer > div > span a:last-of-type{
        margin-left: 8%;
        width: 28px;
        height: 23px;
        background: url('../images/ico_youtube.png') center 1px / contain no-repeat;
    }
    /* footer */
}
/* ? tablet 가로 */

@media screen and (min-width: 768px) and (max-width: 1279px) and (orientation: portrait){  
    header div, 
    header nav ul,
    .mainContainer > div:nth-of-type(5),
    .mainContainer > div:last-child,
    [class$='listContainer'],
    .detailContainer,
    .userInfoContainer,
    .orderListContainer,
    .wishContainer,
    .mypageCartContainer,
    .cartContainer,
    .orderContainer,
    .joinResultContainer,
    .informationContainer,
    .tosContainer,
    .privacyPolicyContainer,
    .orderResultContainer,
    .inspContainer,
    footer > div{
        margin: 0 auto;
    }
    .btn_top{
        position: fixed;
        bottom: 50px;
        right: 5%;
        display: block;
        width: 50px;
        height: 50px;
        background: url('../images/top.png') center / auto no-repeat #666;
        text-indent: -9999px;
        z-index: 10;
    }
    #searchPopup{
        position: fixed; 
        background-color: #fff5f5;
        padding: 100px 0; 
        left: 0; 
        top: 0; 
        width: 100%;
        z-index: 100; 
    }
    #searchPopup div{
        max-width: 520px; 
        margin: 0 auto; 
        position: relative; 
        padding-right: 3.5%;
        box-sizing: border-box;
    }
    #searchPopup div span{
        display: block; 
        position: relative;
    }
    #searchPopup div span input[type='search']{
        background-color: transparent; 
        border-width: 0 0 2px; 
        border-style: solid; 
        border-color: #444;
        width: 100%;
        padding: 20px 6%;
        text-align: center;
        font-size: 16px;
        color: #666;
        font-weight: 300;
    }
    #searchPopup div span input[type='submit']{
        position: absolute; 
        right: 6%;
        bottom: 20px;
        text-indent: -9999px;
        background-color: transparent;
        border-width: 0;
        background: url('../images/ico_search_big.png') center / cover no-repeat;
        width: 21px;
        height: 21px;
    }
    #searchPopup div span input[type='submit']:focus{
        background: none;
    }
    #searchPopup div > input[type='button']{
        position: absolute; 
        right: 0; 
        bottom: 22px;
        text-indent: -9999px;
        border-width: 0;
        background: url('../images/ico_close_big.png') center / cover no-repeat;
        width: 18px;
        height: 18px;
        cursor: pointer;
    }
    header{
        width: 100%;
        padding: 40px 3% 30px;
        transition: all 0.35s ease;
        background-color: rgba(255,255,255,0);
        box-sizing: border-box;
        position: absolute;
        top: 0;
        left: 0;     
        z-index: 10;  
    }  
    header.lock{
        position: fixed; 
        background-color: rgba(255,255,255,1);
        padding: 20px 3%;
    }
    header div{
        display: flex;
        justify-content: space-between;
    } 
    header div h1{
        width: 9.7vw;
        max-width: 186px;
        min-width: 115px;
    }
    header div h1:active{
        z-index: 10;
    }
    header div h1 a{
        display: block;
    }
    header div h1 a img{
        width: 100%;
    }
    header div ul{
        width: 18%;
        padding-left: 186px;
        min-width: 200px;
    }
    header div ul li{
        float: left;
        width: 20%;
    }
    header div ul li a{
        display: block;
    }
    header div ul li input[type='button']{
        cursor: pointer;
        border-width: 0;
        background-color: transparent;
    }
    header div ul li a,
    header div ul li input[type='button']{
        text-indent: -9999px;
        background-position: center;
        background-size: cover;
        background-repeat: no-repeat;
    }
    header.main div ul li:first-child input[type='button']{
        width: 18px;
        height: 18px;
        background-image: url('../images/ico_search.png');
    }
    header.main div ul li:nth-child(2) a{
        width: 18px;
        height: 20px;
        background-image: url('../images/ico_user.png');
    }
    header.main div ul li:nth-child(3) a{
        width: 19px;
        height: 19px;
        background-image: url('../images/ico_cart.png');
    }
    header.main div ul li:nth-child(4) a{
        width: 20px;
        height: 17px;
        background-image: url('../images/ico_wish.png');
    }
    header.main div ul li:last-child input[type='button']{
        width: 25px;
        height: 13px;
        background-image: url('../images/ico_ham.png');
    }   
    header div ul li:first-child input[type='button'],
    header.lock div ul li:first-child input[type='button']{
        width: 18px;
        height: 18px;
        background-image: url('../images/ico_search_b.png');
    }
    header div ul li:nth-child(2) a,
    header.lock div ul li:nth-child(2) a{
        width: 18px;
        height: 20px;
        background-image: url('../images/ico_user_b.png');
    }
    header div ul li:nth-child(3) a,
    header.lock div ul li:nth-child(3) a{
        width: 19px;
        height: 19px;
        background-image: url('../images/ico_cart_b.png');
    }
    header div ul li:nth-child(4) a,
    header.lock div ul li:nth-child(4) a{
        width: 20px;
        height: 17px;
        background-image: url('../images/ico_wish_b.png');
    }
    header div ul li:last-child input[type='button'],
    header.lock div ul li:last-child input[type='button']{
        width: 25px;
        height: 13px;
        background-image: url('../images/ico_ham_b.png');
    }
    header div ul li:last-child input[type='button'].active{
        width: 23px;
        height: 22px;
        background-image: url('../images/ico_close.png');
        position: relative;
        z-index: 10;
    }
    header nav{
        display: none;
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background: url('../images/bg_fnb.png') center / cover no-repeat;
        z-index: 1;
        overflow-y: scroll;
    }
    header nav.active{
        display: block;
    }
    header nav > input[type='button']{
        background: url('../images/ico_close.png') center / cover no-repeat;
        border: none;
        text-indent: -9999px;
        position: absolute;
        top: 10%;
        right: 10%;
        width: 21px;
        height: 20px;
        cursor: pointer;
        z-index: 10;
    }
    header nav ul{
        padding: 130px 3% 0;
        box-sizing: border-box;
        width: 80%;
    }
    header nav ul > li{
        margin-bottom: 70px;
        position: relative;
    }
    header nav ul > li > a, header nav ul li b{
        font-size: 3.15vw;
        font-weight: 400;
        color: #666;
        transition: color 0.3s ease-in;
    } 
    header nav ul > li:hover > a, 
    header nav ul li:hover b, 
    header nav ul > li ol > li:hover a{
        color: #fff;
    } 
    header nav ul li b{
        cursor: default;
    }
    header nav ul > li ol{
        display: none;
        height: 0;
        overflow: hidden;
        transition: all 0.3s ease-in;
        position: absolute;
        left: 35%;
        top: 0;
    }
    header nav ul > li ol.active{
        display: block;
        height: 100%;
        overflow: initial;
    }
    header nav ul > li ol > li:not(:last-child){
        margin-bottom: 40px;
    }
    header nav ul > li ol > li a{
        font-size: 18px;
        font-weight: 400;
        color: #666;
        transition: all 0.3s ease-in;
    }
    /* header */

    footer{
        background-color: #111;
        padding: 55px 3% 60px;
        box-sizing: border-box;
    }
    footer > div > *{
        float: left;
    }
    footer > div h2{
        width: 14%;
        font-size: 12px;
        font-weight: 300;
        line-height: 18px;
        color: #fff;
    }
    footer > div h2 span{
        display: block;
        text-indent: -9999px;
        background: url('../images/logo_footer.png') left top / contain no-repeat;
        margin-bottom: 20px;
    }
    footer > div > div{
        width: 65%;
        margin-left: 5%;
    }
    footer > div > div > a{
        color: #666;
        transition: all 0.3s ease-in;
        font-size: 14px;
        font-weight: 400;
        display: block;
        float: left;
    }
    footer > div > div a:hover{
        color: #fff;
    }
    footer > div > div a:not(:first-child){
        margin-left: 3.92%;
    }
    footer > div > div span{
        display: block;
        margin-top: 40px;
        color: #fff;
        font-size: 12px;
        font-weight: 300;
        line-height: 17px;
    }
    footer > div > div span > a{
        color: #fff
    }
    footer > div > span{
        width: 16%;
        text-align: right;
    }
    footer > div > span > a{
        display: inline-block;
        text-indent: -9999px;
        text-align: left;
    }
    footer > div > span a:first-of-type{
        width: 23px;
        height: 23px;
        background: url('../images/ico_insta.png') center / cover no-repeat;
    }
    footer > div > span a:last-of-type{
        margin-left: 8%;
        width: 28px;
        height: 23px;
        background: url('../images/ico_youtube.png') center 1px / contain no-repeat;
    }
    /* footer */
}
/* ? tablet 세로 */

@media screen and (min-width: 1280px){  
    header div, 
    header nav ul,
    .mainContainer > div:nth-of-type(5),
    .mainContainer > div:last-child,
    [class$='listContainer'],
    .detailContainer > div:last-of-type,
    .userInfoContainer,
    .orderListContainer,
    .wishContainer,
    .mypageCartContainer,
    .cartContainer,
    .orderContainer,
    .joinResultContainer,
    .informationContainer,
    .tosContainer,
    .privacyPolicyContainer,
    .orderResultContainer,
    .inspContainer,
    footer > div{
        max-width: 1530px;
        margin: 0 auto;
    }
    .btn_top{
        position: fixed;
        bottom: 50px;
        right: 10%;
        display: block;
        width: 50px;
        height: 50px;
        background: url('../images/top.png') center / auto no-repeat #666;
        text-indent: -9999px;
        z-index: 10;
    }
    #searchPopup{
        position: fixed; 
        background-color: #fff5f5;
        padding: 150px 0; 
        left: 0; 
        top: 0; 
        width: 100%;
        z-index: 100; 
    }
    #searchPopup div{
        max-width: 520px; 
        margin: 0 auto; 
        position: relative; 
        padding-right: 3.5%;
        box-sizing: border-box;
    }
    #searchPopup div span{
        display: block; 
        position: relative;
    }
    #searchPopup div span input[type='search']{
        background-color: transparent; 
        border-width: 0 0 2px; 
        border-style: solid; 
        border-color: #444;
        width: 100%;
        padding: 20px 6%;
        text-align: center;
        font-size: 18px;
        color: #666;
        font-weight: 300;
    }
    #searchPopup div span input[type='submit']{
        position: absolute; 
        right: 6%;
        bottom: 20px;
        text-indent: -9999px;
        background-color: transparent;
        border-width: 0;
        background: url('../images/ico_search_big.png') center / cover no-repeat;
        width: 21px;
        height: 21px;
    }
    #searchPopup div span input[type='submit']:focus{
        background: none;
    }
    #searchPopup div > input[type='button']{
        position: absolute; 
        right: 0; 
        bottom: 22px;
        text-indent: -9999px;
        border-width: 0;
        background: url('../images/ico_close_big.png') center / cover no-repeat;
        width: 18px;
        height: 18px;
        cursor: pointer;
    }
    header{
        width: 100%;
        padding: 80px 3% 30px;
        transition: all 0.35s ease;
        background-color: rgba(255,255,255,0);
        box-sizing: border-box;
        position: absolute;
        top: 0;
        left: 0;     
        z-index: 10;  
    }  
    header.lock{
        position: fixed; 
        background-color: rgba(255,255,255,1);
        padding: 30px 3%;
    }
    header div{
        display: flex;
        justify-content: space-between;
    } 
    header div h1{
        width: 9.7vw;
        max-width: 186px;
    }
    header div h1:active{
        z-index: 10;
    }
    header div h1 a{
        display: block;
    }
    header div h1 a img{
        width: 100%;
    }
    header div ul{
        width: 15.68%;
        padding-left: 186px;
        margin-top: 8px;
    }
    header div ul li{
        float: left;
        width: 20%;
    }
    header div ul li a{
        display: block;
    }
    header div ul li input[type='button']{
        cursor: pointer;
        border-width: 0;
        background-color: transparent;
    }
    header div ul li a,
    header div ul li input[type='button']{
        text-indent: -9999px;
        background-position: center;
        background-size: auto;
        background-repeat: no-repeat;
    }
    header.main div ul li:first-child input[type='button']{
        width: 21px;
        height: 21px;
        background-image: url('../images/ico_search.png');
    }
    header.main div ul li:nth-child(2) a{
        width: 21px;
        height: 23px;
        background-image: url('../images/ico_user.png');
    }
    header.main div ul li:nth-child(3) a{
        width: 22px;
        height: 22px;
        background-image: url('../images/ico_cart.png');
    }
    header.main div ul li:nth-child(4) a{
        width: 23px;
        height: 20px;
        background-image: url('../images/ico_wish.png');
    }
    header.main div ul li:last-child input[type='button']{
        width: 28px;
        height: 16px;
        background-image: url('../images/ico_ham.png');
    }   
    header div ul li:first-child input[type='button'],
    header.lock div ul li:first-child input[type='button']{
        width: 21px;
        height: 21px;
        background-image: url('../images/ico_search_b.png');
    }
    header div ul li:nth-child(2) a,
    header.lock div ul li:nth-child(2) a{
        width: 21px;
        height: 23px;
        background-image: url('../images/ico_user_b.png');
    }
    header div ul li:nth-child(3) a,
    header.lock div ul li:nth-child(3) a{
        width: 22px;
        height: 22px;
        background-image: url('../images/ico_cart_b.png');
    }
    header div ul li:nth-child(4) a,
    header.lock div ul li:nth-child(4) a{
        width: 23px;
        height: 20px;
        background-image: url('../images/ico_wish_b.png');
    }
    header div ul li:last-child input[type='button'],
    header.lock div ul li:last-child input[type='button']{
        width: 28px;
        height: 16px;
        background-image: url('../images/ico_ham_b.png');
    }
    header div ul li:last-child input[type='button'].active{
        width: 26px;
        height: 25px;
        background-image: url('../images/ico_close.png');
        position: relative;
        z-index: 10;
    }
    header nav{
        display: none;
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background: url('../images/bg_fnb.png') center / cover no-repeat;
        z-index: 1;
    }
    header nav.active{
        display: block;
    }
    header nav > input[type='button']{
        background: url('../images/ico_close.png') center / cover no-repeat;
        border: none;
        text-indent: -9999px;
        position: absolute;
        top: 5%;
        right: 10%;
        width: 21px;
        height: 20px;
        cursor: pointer;
    }
    header nav ul{
        width: 100%;
        display: flex;
        padding: 170px 3% 0;
        box-sizing: border-box;
    }
    header nav ul > li:not(:first-child){
        margin-left: 70px;
    }
    header nav ul > li > a, header nav ul li b{
        font-size: 3.15vw;
        font-weight: 400;
        color: #666;
        transition: color 0.3s ease-in;
    } 
    header nav ul > li:hover > a, 
    header nav ul li:hover b, 
    header nav ul > li ol > li:hover a{
        color: #fff;
    } 
    header nav ul li b{
        cursor: default;
    }
    header nav ul > li ol{
        margin-top: 65px;
    }
    header nav ul > li ol > li:not(:first-child){
        margin-top: 30px;
    }
    header nav ul > li ol > li a{
        font-size: 20px;
        font-weight: 400;
        color: #666;
        transition: all 0.3s ease-in;
    }
    /* header */

    footer{
        background-color: #111;
        padding: 65px 3% 70px;
        box-sizing: border-box;
    }
    footer > div > *{
        float: left;
    }
    footer > div h2{
        width: 14%;
        font-size: 12px;
        font-weight: 300;
        line-height: 18px;
        color: #fff;
    }
    footer > div h2 span{
        display: block;
        text-indent: -9999px;
        background: url('../images/logo_footer.png') left top / contain no-repeat;
        margin-bottom: 20px;
    }
    footer > div > div{
        width: 70%;
    }
    footer > div > div > a{
        color: #666;
        transition: all 0.3s ease-in;
        font-size: 14px;
        font-weight: 400;
        display: block;
        float: left;
    }
    footer > div > div a:hover{
        color: #fff;
    }
    footer > div > div a:not(:first-child){
        margin-left: 3.92%;
    }
    footer > div > div span{
        display: block;
        margin-top: 40px;
        color: #fff;
        font-size: 12px;
        font-weight: 300;
        line-height: 17px;
    }
    footer > div > div span > a{
        color: #fff
    }
    footer > div > span{
        width: 16%;
        text-align: right;
    }
    footer > div > span > a{
        display: inline-block;
        text-indent: -9999px;
        text-align: left;
    }
    footer > div > span a:first-of-type{
        width: 23px;
        height: 23px;
        background: url('../images/ico_insta.png') center / cover no-repeat;
    }
    footer > div > span a:last-of-type{
        margin-left: 8%;
        width: 28px;
        height: 23px;
        background: url('../images/ico_youtube.png') center 1px / contain no-repeat;
    }
    /* footer */
}
/* ? desktop */
